.about-title {
    font-size: clamp(1.75rem, 4vmin, 4rem);
}

.about {
    font-size: clamp(1rem, 2vmin, 3rem);
}

/*---*/

.revolve {
    width: clamp(18rem, 45vmin,25rem);
    margin-inline: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid white;
    display: grid;
    place-items: center;
}

.life {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--clr-main);
    animation: myOrbit 15s linear infinite;
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(clamp(9rem, 22.5vmin, 12.5rem)) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(clamp(9rem, 22.5vmin, 12.5rem)) rotate(-360deg); }
}

.about-item {
    position: absolute;
    width: clamp(9rem, 22.5vmin, 12.5rem);
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid white;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 4;
}

.scale-in {
    animation: scale-in 200ms ease-in-out forwards;
}

.scale-out {
    animation: scale-out 200ms ease-in-out forwards;
}

@keyframes scale-out {
    0% {
        transform: scale(1);
        opacity: 100;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes scale-in {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 100;
    }
}

.about-item-text {
    position: absolute;
    opacity: 0;
    width: clamp(6rem, 20vmin, 8rem);
}

.revolve-middle {
    position: absolute;
    width: clamp(13.5rem, 33.75vmin, 18.75rem);
    margin-inline: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 400ms ease-in-out;
    cursor: pointer;
}

.white-dot-left,
.white-dot-right {
    position: relative;
    width: 16px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
}

.white-dot-left {
    left: -8px;
}

.white-dot-right {
    right: -8px;
}

.about-item-title {
    position: absolute;
}

.white-dot {
    width: 12px;
    height: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    margin-right: .4em;
}

.blue-dot {
    width: 10px;
    height: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--clr-main);
    margin-right: .4em;
}

.social-link > img {
    width: clamp(2rem, 10vmin, 3.5rem);
}

.socials {
    display: flex;
    gap: 1rem;
}



