@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/*---------------*/
/*Reset          */
/*---------------*/

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}


/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/*--------------------------*/
/*Custom properties         */
/*--------------------------*/

:root {
    --clr-main: #1B9CFC;
    --clr-text: #FFFFFF;
    --clr-bg: #181818;

    --ff-display: 'Space Mono', sans-serif;

    --fs-400: 2rem;
}

/*--------------------------*/
/*Utility classes           */
/*--------------------------*/

.uppercase {
    text-transform: uppercase;
}

.cursor-default {
    cursor: default;
}

.ff-display {
    font-family: var(--ff-display);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-big {
    font-size: clamp(1.75rem, 4vmin, 4rem);
}

.fs-small {
    font-size: clamp(0.75rem, 1.5vmin, 2rem);
    font-weight: 200;
}

.text-white {
    color: var(--clr-text);
}

.container {
    width: min(87.5vw, 60rem);
    margin-inline: auto;
}

.justify-text {
    text-align: justify;
}

.center-text {
    text-align: center;
}

.top-space {
    width: 100%  ;
    height: clamp(6rem, 15vmin, 20rem);
}

.space1 {
    width: 100%;
    height: 1rem;
}

.space4 {
    width: 100%;
    height: 4rem;
}

.hidden {
    visibility: hidden;
}

.flex-center {
    display: flex;
    align-items: center;
}

.bold {
    font-weight: 800;
}

.bottom-line {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: .5rem;
    background-color: white;
}


/*--------------------------*/
/*Components                */
/*--------------------------*/


/*Loading and cursor*/

.loading {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
    place-items: center;
    left: 0;
    top: 0;
    background-color: var(--clr-bg);
    z-index: 200;
    animation: load 200ms ease-in forwards;
    animation-delay: 250ms;
}

.load-circle {
    width: 5rem;
    aspect-ratio: 1;
    border: 1px solid var(--clr-main);
    border-radius: 50%;
}

.load-circle-into {
    width: 5rem;
    aspect-ratio: 1;
    background-color: var(--clr-main);
    transform: scale(0);
    border-radius: 50%;
    animation: scale-load 250ms ease-in forwards;
}

@keyframes scale-load {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes load {
    0% {
        z-index: 25;
        opacity: 100%;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

#cursor {
    left: -50px;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--clr-main);
    transition: 150ms ease-out;
    pointer-events: none;
    z-index: 150;
    backdrop-filter: blur(1px);
}

.cursor-hover {
    animation: scale 400ms ease-in-out forwards;
    transform: scale(1.75);
}

.cursor-leave {
    animation: scale-down 400ms ease-in-out forwards;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.75);
    }
}

@keyframes scale-down {
    0% {
        transform: scale(1.75);
    }
    100% {
        transform: scale(1);
    }
}

/*Navigation*/


body {
    background-color: rgba(25,25,25);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


#menu-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    z-index: 80;
}

#menu-screen > ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

#menu-screen > ul > li {
    text-align: center;
}

#menu-screen > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: clamp(2rem, 3vmax ,6rem);
}

.nav-button {
    position: absolute;
    display: grid;
    place-items: center;
    right: 0;
    top: 0;
    width: clamp(5rem, 15vmin, 20rem);
    aspect-ratio: 2/1;
    padding: 1em;
    z-index: 100;
    cursor: default;
}

.menu {
    position: absolute;
}

.close {
    position: absolute;
}

#menu-left {
    display: inline-block;
}

#menu-right {
    display: inline-block;
}

#close-left {
    display: inline-block;
}

#close-right {
    display: inline-block;
}

.move-middle-left {
    animation: move-middle-left 300ms ease-in forwards;
}

.move-middle-right {
    animation: move-middle-right 300ms ease-in forwards;
}

.move-out-left {
    animation: move-out-left 300ms ease-in forwards;
}

.move-out-right {
    animation: move-out-right 300ms ease-in forwards;
}

@keyframes move-middle-left {
    0% {
        transform: translateX(0);
        opacity: 100;
    }
    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}

@keyframes move-middle-right {
    0% {
        transform: translateX(0);
        opacity: 100;
    }
    100% {
        transform: translateX(-50%);
        opacity: 0;
    }
}

@keyframes move-out-left {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100;
    }
}

@keyframes move-out-right {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100;
    }
}

/*-----*/

.hero {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    z-index: -1;
}

/*.circle {
    width: 40vmin;
    aspect-ratio: 1;
    border: 3px solid var(--clr-main);
    border-radius: 50%;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem var(--clr-main),
    0 0 0.8rem var(--clr-main),
    0 0 2.8rem var(--clr-main),
    inset 0 0 1.3rem var(--clr-main);
    animation: pulsate 10s ease-in-out infinite;
}
*/
@keyframes pulsate {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
    
}

.title-container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
}


.title {
    font-size: clamp(1rem, 8vmin ,10rem);
    z-index: 75;
}

.buttons {
    width: 100%;
    height: clamp(2rem, 5vmin, 3rem);
    padding: .5em 0;
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 10vmin, 6rem);
}

.buttons > a {
    text-decoration: none;
    transition: 300ms ease-in-out;
    width: 50%;
}

.buttons > a > div {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    z-index: 75;
    font-size: clamp(.5rem, 3vmin, 1rem);
    
}

.CV-button {
    border: 1px solid white;
}

.contact-button {
    border: 1px solid var(--clr-main);
}

.contact-button:hover {
    background-color: var(--clr-main);
}

.CV-button:hover {
    background-color: white;
    color: var(--clr-bg);
}


