@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --clr-main: #1B9CFC;
    --clr-text: #FFFFFF;
    --clr-bg: #181818;

    --ff-display: 'Space Mono', sans-serif;

    --fs-400: 2rem;
}

input,
button,
textarea,
select {
  font: inherit;
}


*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: var(--clr-bg);
    font-family: var(--ff-display);
}

body .reload {
    width: 40px;
    height: 40px;
    border-radius: 0;
    margin-bottom: 40px;
    background-color: var(--clr-main);
    color: var(--clr-text);
}

body input {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 800;
    font-size: 16px;
}

body ul {
    list-style-type: none;
    line-height: 0;
}

body .btn{
    width: clamp(1rem, 10vmin, 3rem);
    height: clamp(1rem, 10vmin, 3rem);
    border-radius: 0;
}

body .tagged {
    background-color: black;
}

body .clicked{
    border: 1px solid gray;
}

body .clicked:active {
    border-style: outset;
}


body .bomb.clicked{
    background-color: black;
}
