* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.p0 {
    background-color: aquamarine;
}
.p1 {
    background-color: lightblue;
}
.p2 {
    background-color: lightcoral;
}
.p3 {
    background-color: greenyellow;
}
.p4 {
    background-color: forestgreen;
}
.p5 {
    background-color: orange;
}
.p6 {
    background-color: lightseagreen;
}
.p7 {
    background-color: lightsteelblue;
}
.p8 {
    background-color: blanchedalmond;
}
.p9 {
    background-color: coral;
}
.p10 {
    background-color: cornflowerblue;
}
.p11 {
    background-color: maroon;
}
.p12 {
    background-color: saddlebrown;
}

.wait {
    background-color: lightgray;
    color: lightgray;
}

.node {
    border: 1px solid black;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

#table {
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

#sidebar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(11, 1fr);
    place-items: center;
}

header ul {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

header ul li{
    list-style: none;
    margin-bottom: .5rem;
}

.flex {
    display: flex;
}

header button {
    width: 5rem;
    height: 2rem;
}

h4 {
    margin-top: .5rem;
}

#userInput {
    width: 20rem;
}

.index {
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid white;
    display: grid;
    place-items: center;
    text-transform: uppercase;
}

.nofit {
    background-color: black;
}

