:root {
    --clr-main: #1B9CFC;
    --clr-text: #FFFFFF;
    --clr-bg: #181818;

    --ff-display: 'Space Mono', sans-serif;

    --fs-400: 2rem;
}

.project-grid {
    width: 100%;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    justify-items: center;
}

.card {
    height: 15rem;
    width: 100%;
    background-color: white;
    display: grid;
    place-items: center;
    transition-duration: 200ms;
    position: relative;
}


.card:hover {
    transform: scale(1.1);
    z-index: 10;
}

a {
    text-decoration: none;
}

.minesweeper {
    background-image: url(assets/mine.jpg);
    background-position: center;
    background-size: 200%;
    position: relative;
}

.design {
    background-image: url(assets/design.jpg);
    background-position: center;
    background-size: 150%;
    position: relative;
}

.blackjack {
    background-image: url(assets/blackjack.jpg);
    background-position: center;
    background-size: 120%;
    position: relative;
}
