@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --color: #060CE9;
}

header {
    height: calc(100vh/6);
    width: 100%;
    display: flex;
}

header div {
    width: calc(100vw/6);
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: darkblue;
}

#layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.node {
    display: grid;
    place-items: center;
    width: calc(100%-2px);
    height: calc(100vh/6);
    background-color: var(--color);
    color: gold;
    font-size: 24pt;
    font-weight: 600;
}

.node:hover {
    cursor: pointer;
    background-color: darkblue;
}

.question {
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    color: white;
    font-size: 46pt;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: darkblue;
    padding-right: 2rem;
    text-align: center;
}

.question img {
    width: 30rem;
    height: auto;
}