@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



.number {
    margin-right: .5em;
    padding: .15em;
    border: 1px solid white;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: clamp(1rem, 5vmin, 4rem);
}

body {
    background-image: url(/images/bg.png);
    display: flex;
    justify-content: center;
    font-family: 'Space Mono', sans-serif;
    color: white;
}

.container {
    padding: 2em 0;
    width: min(90vw, 64rem);
    height: fit-content;
    text-align: justify;
}

h1 {
    font-size: clamp(1rem, 10vmin, 6rem);
}

h2 {
    font-size: clamp(1.5rem, 4vmin, 3rem);
}

h3 {
    font-size: clamp(1.25rem, 2.25vmin, 3rem);
    font-weight: 400;
    margin-inline: auto;
    margin-top: .5em;
}

p {
    font-size: clamp(1rem, 2vmin, 2rem);
}

.filmid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filmid img {
    width: auto;
    height: 28rem;
}

.kaksyks, .rainman, .hangover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 900px) {
    .filmid {
        flex-direction: column;
        gap: 2rem;
    }
    .filmid img {
        width: 18rem;
        height: auto;
    }
}

.credits {
    text-align: center;
}




